.header-link {
    color: black;
    text-decoration: none;
  }
  
  .header-list-item, .footer-list-item {
    display: inline-block;
    height: auto;
    margin-right: 2%;
    cursor: pointer;
    padding: 0.5%;
    margin: 0.1%;
    vertical-align: top;
  } 
  
  .header-list-item:hover {
    border-top: none;
    border-bottom: 2px solid white;
    font-weight: bold;
  }
  
  
  
  /* footer */
  .footer-link {
    color: white;
    text-decoration: none;
  }
  
  .footer-list-item, .footer-list-item {
    display: inline-block;
    height: auto;
    margin-right: 2%;
    cursor: pointer;
    padding: 0.5%;
    margin: 0.1%;
    vertical-align: top;
  } 
  
  .footer-list-item:hover {
    border-top: none;
    border-bottom: 2px solid white;
    font-weight: bold;
  }  
  